body{
	background-image: 
	 linear-gradient(rgba(0,0,0,0.5), 
	 rgba(0,0,0,0.5)),
	 url(MarvelBackgroundImage.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial;
}
header{
	height: 25%;
	width: 101.1%;
	margin-left: -0.6%;
	margin-top: -5%;
	padding: 0;
	background-image: url(DirtyBackgroundImage.png);
     background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	align-content: center;
	position: fixed;
	z-index: 999;
}
h1{
   background: white;
   background: linear-gradient(to left,#5d5d5d,#ddd);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
	font-family: Arial;
	margin-left: 135px;
	padding-top: 60px;
	font-size: 38px;
	animation: h1 1.5s infinite;
}
div{
	padding-top: 65px;
	margin-left: -900px;
}
input{
	margin-left: 1200px;
	margin-top: -105px;
	width: 300px;
	height: 50px;
	opacity: 0.5;
	font-size: 16px;
}
.text-glow-effect h1{
    font-size: 36px; 
    font-weight: 900;
    text-align: center;
    padding: 20px;
    margin: 0; 
    background-image: linear-gradient(
        to right,
        #919191 0%,
        #404040 50%, 
        #919191 100%
    );
    background-size: 200% 100%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-sweep-animation 3s infinite ease-in-out;
}
.text-glow-effect p{
	font-size: 24px; 
    font-weight: 900;
    text-align: center;
    padding: 20px;
    margin-top: -50px; 
    background-image: linear-gradient(
        to right,
        #919191 0%,
        #404040 50%, 
        #919191 100%
    );
    background-size: 200% 100%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-sweep-animation 3s infinite ease-in-out;
}
@keyframes text-sweep-animation {
    0% {
        background-position: 100% 0; 
    }
    100% {
        background-position: -100% 0; 
    }
}
article{
	background-color: rgba(0,0,0,0.5);
	height: 350px;
	Width: 300px;
	margin-left: 10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	transition: flex-grow 0.3s ease-out;
	border-radius: 5%;	
}
img{
	width: 200px;
	height: 250px;
	margin-left: 45px;
	margin-top: 25px;
	transition: flex-grow 0.3s ease-out;
    border-radius: 5%;	
}
.article-hover:hover{
	flex-grow: 2;
	background-image: 
	 linear-gradient(rgba(0,0,0,0.5), 
	 rgba(0,0,0,0.8)),
	 url(ThorRagnarok2.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 75% 0%;
}
.container {
    margin: 0;
	padding: 0;
    display: flex; 
    width: 100%;
	height: 320px; 
    margin: 0;
	margin-top: 50px;
}
main{
	margin-top: 75px;
}
